body {
    text-align: center;
}
.box{
    margin: 10px auto;
    border: solid 2px;
}
.dx-box-item {
    overflow: hidden;
}
#item1{ 
    background-color: #f39e6c; 
}
#item2{ 
    background-color: #f5e5a6; 
}
#item3{ 
    background-color: #94d7c7; 
}