body{
    text-align: center;
}
#myElement{
    margin: 50px;
    padding: 100px;
    background-color: yellow;
    border: 2px solid blue;
    text-align: center;
}
p{
    margin: 10px;
    font-size:larger;
}