body {
  padding: 0;
}

.dx-theme-fluent-typography {
  background-color: white;
}

#container {
  height: 525px;
  border-radius: 15px;
}

.main-block {
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.dx-fileuploader-input-label {
  color: gray;
}

/* -- File Uploader -- */

.file-uploader-block {
  width: 360px;
  height: 360px;
  background-color: #f5f5f5;
  border-radius: 16px;
}

#file-uploader {
  height: 100%;
}

.dx-fileuploader-content {
  display: grid;
  height: 100%;
  position: relative;
}

.dx-fileuploader-input-wrapper {
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dx-fileuploader-wrapper {
  overflow: visible;
}

.dx-fileuploader-content > .dx-fileuploader-upload-button {
  display: none;
}

.dx-fileuploader-show-file-list .dx-fileuploader-files-container {
  padding-top: 0;
}

.dx-fileuploader-files-container {
  position: absolute;
  top: calc(100% + 16px);
  left: 8px;
  right: 8px;
  width: auto;
  max-height: 180px;
  overflow-y: auto;
  box-sizing: border-box;
}
