.dx-theme-fluent-typography {
  background-color: white;
}

#container {
    height: 525px;
    border-radius: 15px;
}

.main-block {
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.file-uploader-block {
  background-color: #f5f5f5;
  width: 40%;
  height: 47.5%;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding: 1.5% 1.5%;
  border-radius: 16px;
}

#notes {
  margin: 16px;
}

.note {
  font-size: 10pt;
}

.note > span {
  font-weight: 700;
}

.dx-fileuploader-input-label{
    color:gray;
}

.dx-fileuploader-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dx-fileuploader-input-container {
  width: 75%;
  text-align: center;
}

#file-uploader {
  height: 100%;
}

.dx-fileuploader-content {
  height: 100%;
  anchor-name: --fileuploader-content
}

.dx-fileuploader-input-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.dx-fileuploader-files-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 35%;
    height: 30%;
    overflow-y: auto;
}

.dx-fileuploader-show-file-list .dx-fileuploader-files-container {
    padding-top: 0;
}

.dx-fileuploader-content > .dx-fileuploader-upload-button {
    visibility: hidden;
}