#demo-box{
    text-align: left;
    height: auto;
}
.wrapper{
    padding: 20px;
}
.icon-element{
    margin-bottom: 10px;
    width: 90px;
    display: inline-block;
    text-align: center;
}
.icon-name{
    font-size: 14px;
    margin-top: 5px;
}