body{
    text-align:center;
}
.demo-page{
    max-width: 400px;
    height: 250px;
    margin: 0 auto;
    background-color: #F0F0F0;
    text-align: left;
}
.dx-button{
    margin-top: 20px;
    margin-bottom: 20px;
}