.dx-overlay-content {
    background-color: lightgray;
}
.dx-list-item-content,
.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item .dx-icon,
.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-hover .dx-icon {
    color: black;
}
#container {
    height: 250px;
    width: 350px;
    color: black;
}
#button {
    margin-left: -5px;
}
#content {
    color: black;
    margin-left: 10px;
    margin-top: 10px;
}
.dx-button {
    background-color: rgba(191, 191, 191, -0.15);
    border: none;
}

#toolbar {
    background-color: rgba(191, 191, 191, .15);
    padding: 5px 10px;
}

#drawer {
    border: 1px solid rgba(191, 191, 191, 0.15);
    background-color: white;
}