#chartContainer {
    height: 500px;
    max-width: 800px;
    margin: 0 auto;
}

#selectBoxContainer {
    height: 35px;
    max-width: 200px;
    margin-top: 5px;
    vertical-align: middle;
}

.inline > div {
    display: inline-block;
}