---
id: dxValidatorResult
type: Object
module: ui/validator
export: dxValidatorResult
references: dxValidator.validate,dxValidator.validate,dxValidatorResult.complete
---
---
##### shortDescription
A validation result.

---
