---
id: dxValidatorResult
type: Object
module: ui/validator
export: dxValidatorResult
---
---
##### shortDescription
A validation result.

---
