#dashboard {
  display: grid;
  gap: 20px;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  box-sizing: border-box;
}

#progress, #task-grid {
  background-color: light-dark(#fff, #383838);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#progress {
  padding-top: 32px
}

#task-grid .dx-datagrid-headers {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#task-grid .dx-datagrid-header-panel {
  display: none;
}

#task-grid .dx-row-lines:nth-last-child(2) > td {
  border-bottom-style: none;
}

#task-grid .dx-datagrid-rowsview {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: none;
}