.demo-viewport {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 20px;
}

.empty-view-titlebox {
  height: 60px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-top: 20px;
}

.empty-view-title {
  font-size: 20px;
  font-weight: 600;
  font-family: Segoe UI;
}

.empty-view-subtitle {
  margin-top: auto;
}

#chat {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="2000" height="1580" transform="translate(-640, -320)" viewBox="0 0 2000 1580" fill="none"><g filter="url(%23filter0_f_18089_901)"><path d="M905.263 927.17C905.263 1066.8 792.156 1180 652.632 1180C513.107 1180 400 1066.8 400 927.17C400 787.535 513.107 674.339 652.632 674.339C792.156 674.339 905.263 787.535 905.263 927.17Z" fill="%23D8EAFF"/><path d="M1600 652.83C1600 792.465 1486.89 905.661 1347.37 905.661C1207.84 905.661 1094.74 792.465 1094.74 652.83C1094.74 513.196 1207.84 400 1347.37 400C1486.89 400 1600 513.196 1600 652.83Z" fill="%23F8D8FF"/></g><defs><filter id="filter0_f_18089_901" x="0" y="0" width="2000" height="1580" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_18089_901"/></filter></defs></svg>');
  min-width: 360px;
}

#chat .dx-chat-messagebox {
  border-top-width: 0px;
  padding: 40px;
  padding-top: 20px;
}

.empty-view-container {
  display: flex;
  flex-direction: column;
}

.empty-view-container #tile-view-container {
  align-self: center;
  height: 124px;
}

@media (max-width: 800px) {
  .empty-view-container #tile-view-container {
    align-self: center;
    width: 100% !important;
    height: 336px !important;
  }

  #chat {
    height: 660px !important;
  }

  .dx-tile {
    width: calc(100% - 24px) !important;
    height: 96px !important;
  }
}

.dx-chat-messagelist-empty-view {
  width: 100%;
}

.dx-tile {
  border-radius: 12px;
  padding: 16px;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.dx-tile:hover {
  transform: scale(1.025); 
  border: 1px solid rgba(224, 224, 224, .6);
  box-shadow: 0px 0px 8px 4px rgba(0, 4, 8, .025);
  cursor: pointer;
}

.dx-tile.dx-state-focused {
  outline: 2px solid var(--dx-color-primary);
}

.tile-container {
  display: grid;
  height: 100%;
}

.tile-emoji {
  font-size: 28px;
  line-height: 36px;
  font-family: Segoe UI;
  text-align: center;
}

.tile-text {
  font-size: 14px;
  line-height: 20px;
  font-family: Segoe UI;
  font-weight: 600;
  align-self: end;
  text-align: center;
}