.dx-fa-button-icon, .dx-fa-button-icon-close {
  text-align: center;
}

#app-container {
  height: 360px;
  width: 320px;
  border: 1px solid rgb(221, 221, 221);
}

p {
  font-size: 14px;
  text-align: center;
  color: rgb(51, 51, 51);
}

.dx-tabpanel .dx-tabs-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.dx-tab {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  justify-content: center;
}