---
type: Object
---
---
##### shortDescription
A validation result.

---
