body {
    text-align: center;
}
.button{
    margin-top: 25px;
}
.overlayContent{
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  height: 150px !important;
}
.dx-theme-ios .overlayContent{
  border-color:#43628D;
  background-color:#F7F7F7;
}
.dx-theme-android .overlayContent{
  border-color:#FFFFFF;
  background-color:#5F5F5F;
}
.dx-theme-win8 .overlayContent{
  border-color: #E4E4E4;
  background-color:#333333;
}