#app-container {
    padding: 20px;
}

#form {
    padding: 10px;
    border: var(--dx-border-width) solid var(--dx-color-border);
    border-radius: var(--dx-border-radius);
}

#check-box {
    margin-top: 10px;
}
