---
id: dxValidationGroupResult
type: Object
module: ui/validation_group
export: dxValidationGroupResult
references: dxForm.validate,dxForm.validate,dxValidationGroup.validate,dxValidationGroup.validate,dxValidationGroupResult.complete,validationEngine.validateGroup,validationEngine.validateGroup,validationEngine.validateGroup,validationEngine.validateGroup
---
---
##### shortDescription
A group validation result.

---
