---
id: dxValidationGroupResult
type: Object
module: ui/validation_group
export: dxValidationGroupResult
generateTypeLink: 
---
---
##### shortDescription
A group validation result.

---
