---
type: Object
---
---
##### shortDescription
A group validation result.

---
